<div class="jumbotron bg-white text-light">
  <h1 class="display-4 ">Hi there {{user.email}}</h1>
  <p class="lead">Welcome to your gift list!</p>
  <button (click)="logOut()" id="logout" class="btn btn-danger">logout</button>
</div>

<!-- <h1>Hi there {{user.email}}</h1> -->
<!-- <h1>Hi there {{user.uid}}</h1> -->

<!-- form goes here -->
<form (ngSubmit)="createNewPresent()" id="newSessionForm">
  <div class="presentsList text-light ">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputwhoFrom4">Who was the present from?:</label>
        <input 
        [(ngModel)]="whoFrom"
        name="whoFrom"
        type="text"
        id="whoFrom"
        required
        placeholder="Who was this from?"
        >
      </div>
      
      <div class="form-group col-md-6">
        <label for="inputwhoFrom4">Who was the present to?:</label>
        <input
        [(ngModel)]="whoTo"
        name="whoTo"
        type="text"
        id="whoTo"
        required
        placeholder="Who was this for?"
        >
      </div>
        
    <div class="form-group col-md-6">
      <label for="inputwhoFrom4">What was the present?:</label>
      <input
      [(ngModel)]="present"
      name="present"
      type="text"
      id="present"
      required
      placeholder="What was the gift?"
      >
    </div>
    
    <div class="form-group col-md-6">
      <label for="inputwhoFrom4">When did you open it?:</label>
      <input
      [(ngModel)]="date"
      name="date"
      type="text"
      id="date"
      required
      placeholder="When did you open it?"
      >
    </div>
    
    <div class="form-group col-lg-12">
      <label for="inputwhoFrom4">What was the rating out of 5?</label>
      <input
      [(ngModel)]="rating"
      name="rating"
      type="number"
      id="rating"
      required
      placeholder="Score out of 5"
      >
    </div>
    
    <div class="form-group col-md-6">
      <label for="inputwhoFrom4">Do you have a picture of it?:</label>
      <input
      [(ngModel)]="picture"
      name="picture"
      type="image"
      id="picture"
      required
      >
    </div>
    
    <div class="form-check col-md-6">
      <label for="inputwhoFrom4">Thank you letter sent?</label>
      
      <input class="form-check-input" type="checkbox"
      [(ngModel)]="checkbox"
      name="checkbox"
      type="checkbox"
      id="checkbox"
      required
      >
    </div>
    <button type="submit" class="btn btn-success mt-5 col-lg-12 ">submit</button>
  </div>
  </div>
  
  
</form>

<div class="giftList ">
  <h2 class="text-light">So, who got what?</h2>
  
  <ul class="list-group" *ngFor="let present of presents | async">
    <li class="list-group-item text">
      Wow, {{present.whoFrom}} sent 
      {{present.whoTo}} a
      {{present.present}} on the
      {{present.date}}! 
      {{present.whoTo}} scored this
      {{present.rating}} out of 5.
      <!-- {{present.checkbox}} -->
      <!-- <button (click)="sendLetter(present)" id="sendLetter" class="btn btn-primary">Send a thank you!</button>
        <button (click)="delete(present.id)" id="delete" class="btn btn-danger">Delete</button> -->
      </li>
      <button (click)="sendLetter(present)" id="sendLetter" class="btn btn-success">Send a thank you!</button>
      <button (click)="delete(present.id)" id="delete" class="btn btn-danger">Delete</button>
    </ul>
  </div>
  